<html>
	<head>
		<% include ../_partials/head %>
        <style>
        .page-content {
            padding-top: 3.125rem;
            min-height: 100%;
            height: 100%;
        }
        </style>
    </head>
    <body class="bg-steel">
        <% include ../_partials/adminHeader%>
        <div class="page-content">
            <div class="flex-grid no-responsive-future" style="height: 100%;">
                <div class="row" style="height: 100%">
                    <div class="cell auto-size padding20 bg-white" id="cell-content">
                        <table class="dataTable border bordered" id="citizens-table" data-role="datatable" data-auto-width="false">
                            <thead>
                            <tr>
                                <td style="display: none">ID (For technical purposes)</td>
                                <td class="sortable-column bg-yellow">नाव</td>
                                <td class="sortable-column bg-yellow">पत्ता</td>
                                <td class="sortable-column bg-yellow">वार्डचे नाव</td>
                            </tr>
                            </thead>
                            <tbody>
                                <% citizens.forEach((citizen) => { %>
                                    <tr>
                                        <td style="display: none"><%= citizen._id %></td>
                                        <td><a href="/citizen/<%= citizen._id %>"><%= citizen.name %></a></td>
                                        <td><%= citizen.address %></td>
                                        <td><%= citizen.ward_name %></td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <% include ../_partials/footer%>
    </body>
</html>