<html>
	<head>
		<% include ../_partials/head %>
        <style>
        .page-content {
            padding-top: 3.125rem;
            min-height: 100%;
            height: 100%;
        }
        </style>
	</head>
	<body>
		<% include ../_partials/header%>
		<div class="container page-content">
            <div class="grid">
                <div class="row cells3">
                    <div class="cell">
                        <h3>नाव: <%= citizen.name %></h3>
                    </div>
                    <div class="cell">
                        <h3>बायकोचे नाव: <%= citizen.wife_name %></h3>
                    </div>
                    <div class="cell">
                        <h3>मोबाईल नंबर: <%= citizen.mobile_no %></h3>
                    </div>
                </div>
                <div class="row cells">
                    <div class="cell">
                        <h3>पत्ता: <%= citizen.address %></h3>
                    </div>
                </div>
                <div class="row">
                    <a href="/citizen/<%= citizen._id %>/edit" class="primary button">माहिती बदल</a>
                    <a href="/citizen/<%= citizen._id %>/malmatta" class="primary button">मालमत्ता</a>
                    <a href="/citizen/<%= citizen._id %>/kar" class="primary button">कर आकारा</a>
                </div>
            </div>
        </div>
		<% include ../_partials/footer%>
	</body>
</html>