<html>
	<head>
		<% include ../_partials/head %>
        <style>
        .page-content {
            padding-top: 3.125rem;
            min-height: 100%;
            height: 100%;
        }
        </style>
	</head>
	<body>
		<% include ../_partials/header%>
		<div class="container page-content">
            <div class="grid">
                <div class="row cells3">
                    <div class="cell">
                        <h3>नाव: <%= citizen.name %></h3>
                    </div>
                    <div class="cell">
                        <h3>बायकोचे नाव: <%= citizen.wife_name %></h3>
                    </div>
                    <div class="cell">
                        <h3>मोबाईल नंबर: <%= citizen.mobile_no %></h3>
                    </div>
                </div>
                <div class="row cells">
                    <div class="cell">
                        <h3>पत्ता: <%= citizen.address %></h3>
                    </div>
                </div>
                <div class="row">
                    <a href="/citizen/<%= citizen._id %>/addMalmatta" class="primary button">नवीन मालमत्ता</a>
                    <a href="/citizen/<%= citizen._id %>/kar" class="primary button">कर आकारा</a>
                    <a href="/citizen/<%= citizen._id %>/eight" class="primary button">नमुना ८</a>
                    <a href="/citizen/<%= citizen._id %>/nine" class="primary button">नमुना ९</a>
                    <a href="/citizen/<%= citizen._id %>/nine_k" class="primary button">नमुना ९ (क)</a>
                </div>
                <div class="row">
                        <form action="/citizen/<%= citizen._id %>/ten" method="post">
                            <div class="input-control select">
                                <label for="malmatta_id">मालमत्ता क्रमांक: </label>
                                <select name="malmatta_id">
                                    <option value="0">1</option>
                                    <option value="1">2</option>
                                    <option value="2">3</option>
                                    <option value="3">4</option>
                                    <option value="4">5</option>
                                    <option value="5">6</option>
                                    <option value="6">7</option>
                                    <option value="7">8</option>
                                    <option value="8">9</option>
                                    <option value="9">10</option>
                                </select>
                            </div>
                            <div class="form-actions">
                                <button class="primary button" type="submit">नमुना १०</button>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
		<% include ../_partials/footer%>
	</body>
</html>