<html>
	<head>
		<% include ../_partials/head %>
        <style>
        .page-content {
            min-height: 100%;
            height: 100%;
        }
        .rotate {
            height: 250px;
            white-space: nowrap;
        }

        .rotate > div {
          transform: 
            translate(-2px, 60px)
            rotate(270deg);
          width: 30px;
        }
        .rotate > div > span {
            border-bottom: 1px solid #ccc;
            padding: 5px 10px;
        }

        </style>
	</head>
	<body>
		<div class="page-content" id="print">
            <center>
                <h1>नमुना ८</h1><br>
                <h3>सन २०१६-२०१७ या वर्षासाठी कर आकारणी नोंदवही</h3><br>
                <h3>ग्रामपंचायत: <%= user.village %>, तालुका: अंबाजोगाई</h3>
            </center><br>

            <table border="1">
                <tr>
                    <th>अ.क्र.</th>
                    <th class="rotate"><div><span>रस्त्याचे नाव</span></div></th>
                    <th class="rotate"><div><span>सर्वे नंबर</span></div></th>
                    <th class="rotate"><div><span>मालमत्ता क्रमांक</span></div></th>
                    <th class="rotate"><div><span>मालकाचे नाव</span></div></th>
                    <th class="rotate"><div><span>नवरा/बायकोचे नाव</span></div></th>
                    <th class="rotate"><div><span>भोगवटदाराचे नाव</span></div></th>
                    <th colspan="4">मालमत्तेचे वर्णन</th>
                    <th class="rotate"><div><span>बांधकामाचे वर्ष व वयोमान</span></div></th>
                    <th>क्षेत्रफळ</th>
                    <th colspan="3">रेडी रेकनर दर प्रती चौ. मीटर (रुपये)</th>
                    <th class="rotate"><div><span>घसारा दर</span></div></th>
                    <th class="rotate"><div><span>भारांक</span></div></th>
                    <th class="rotate"><div><span>भांडवली मूल्य</span></div></th>
                    <th class="rotate"><div><span>कराचा दर</span></div></th>
                    <th colspan="5">मूल्य निर्धारित केलेल्या कराची रक्कम</th>
                    <th colspan="5">अपिलांचे निकाल आणि त्यानंतर केलेले फेरफार</th>
                    <th>शेरा</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>मालमत्तेचा प्रकार</th>
                    <th>चातुर्सिमा</th>
                    <th>बाजू</th>
                    <th>शेरा</th>
                    <th></th>
                    <th></th>
                    <th>जमीन</th>
                    <th>इमारत</th>
                    <th>बांधकाम</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>घरपट्टी</th>
                    <th>पाणीपट्टी</th>
                    <th>वीजपट्टी</th>
                    <th>आरोग्य</th>
                    <th>एकूण</th>
                    <th>घरपट्टी</th>
                    <th>पाणीपट्टी</th>
                    <th>वीजपट्टी</th>
                    <th>आरोग्य</th>
                    <th>एकूण</th>
                    <th></th>
                </tr>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th colspan="2">5</th>
                    <th>6</th>
                    <th colspan="4">7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                    <th>14</th>
                    <th>15</th>
                    <th>16</th>
                    <th>17</th>
                    <th>18</th>
                    <th>19</th>
                    <th>20</th>
                    <th>21</th>
                    <th>22</th>
                    <th>23</th>
                    <th>24</th>
                    <th>25</th>
                    <th>26</th>
                    <th>27</th>
                </tr>
                <tr>
                    <td><%= citizen.srno %></td>
                    <td class="rotate"><div><span><%= citizen.malmatta[n].ward_name %></span></div></td>
                    <td><%= citizen.malmatta[n].survey_number %></td>
                    <td><%= citizen.malmatta[n].malmatta_number %></td>
                    <td class="rotate"><div><span><%= citizen.name %></span></div></td>
                    <td class="rotate"><div><span><%= citizen.wife_name %></span></div></td>
                    <td class="rotate"><div><span><%= citizen.malmatta[n].payee_name %></span></div></td>
                    <td class="rotate">
                        <div><span><%= citizen.malmatta[n].malmatta_type%></span></div>
                    </td>
                    <td>
                        पूर्व: <%= citizen.malmatta[n].east %> <br>
                        पश्चिम: <%= citizen.malmatta[n].west %> <br>
                        दक्षिण: <%= citizen.malmatta[n].south %> <br>
                        उत्तर: <%= citizen.malmatta[n].north %> <br>
                        दरवाजा: <%= citizen.malmatta[n].door %> <br>
                    </td>
                    <td>
                        पूर्व-पश्चिम: <%= citizen.malmatta[n].pupa %> <br>
                        दक्षिण-उत्तर: <%= citizen.malmatta[n].dau %>
                    </td>
                    <td>
                        <%= citizen.malmatta[n].side_comment %>
                    </td>
                    <td><%= citizen.malmatta[n].majla_tal_year %></td>
                    <td><%= citizen.malmatta[n].area %></td>
                    <% if(citizen.malmatta[n].ready_reknar === '710') { %>
                    <td>710</td>
                    <td></td>
                    <td></td>
                    <% } else { %>
                    <td></td>
                    <td><%= citizen.malmatta[n].ready_reknar %></td>
                    <td></td>
                    <% } %>
                    <td><%= citizen.malmatta[n].ghasara_dar %></td>
                    <td><%= citizen.malmatta[n].bharank_rate %></td>
                    <td class="rotate"><div><span>₹ <%= citizen.malmatta[n].bhandwali_mulya %></span></div></td>
                    <td><%= citizen.malmatta[n].kar_rate %></td>
                    <td><%= citizen.malmatta[n].current_gharpatti %></td>
                    <td><%= citizen.malmatta[n].current_veej %></td>
                    <td><%= citizen.malmatta[n].current_panipatti %></td>
                    <td><%= citizen.malmatta[n].current_aarogya %></td>
                    <td><%= citizen.malmatta[n].total %></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><%= citizen.malmatta[n].comment %></td>
                </tr>
            </table>
        </div>
        <button class="button primary" onclick="printDiv('print')">Print</button>
        <script>
            function printDiv(divName) {
                 var printContents = document.getElementById(divName).innerHTML;
                 var originalContents = document.body.innerHTML;
                 document.body.innerHTML = printContents;
                 window.print();
                 document.body.innerHTML = originalContents;
            }
        </script>
		<% include ../_partials/footer%>
	</body>
</html>