<html>
	<head>
		<% include ../_partials/head %>
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/nine_ten_print.css" media="print">
		<style>
			@media print {
	            html, body {
	                height: 99%;    
	            }
	        }
			body {
				font-family: 'Noto Sans', sans-serif;
			}
		</style>
	</head>
	<body>
		<div id="print">
			<div class="align-center">
				<h2>नमुना १०</h2>
				<h3>कर व फी बाबत पावती</h3>
				<h4>ग्रामपंचायत: <%= user.village %></h4>
				<h4>श्री. <%= malmatta.payee_name %> यांजकडून सन २०१६-२०१७ या वर्षाच्या घर क्रमांक <%= malmatta.home_number%> बद्दल पुढील करांची रक्कम मिळाली.</h4>
			</div>
			<div class="align-center">
				<table class="table border bordered">
					<thead>
						<td>कराचे नाव</td>
						<td colspan="2">वसूल केलेल्या रकमा</td>
						<td>बाकी</td>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td>थकबाकी भरलेली रक्कम</td>
							<td>चालू भरलेली रक्कम</td>
							<td></td>
						</tr>
						<tr>
							<td><b>१. घरपट्टी</b></td>
							<td><%= body.previous_paid_gharpatti %></td>
							<td><%= body.current_paid_gharpatti %></td>
							<td><%= (parseInt(malmatta.current_gharpatti)+parseInt(malmatta.previous_gharpatti))-(parseInt(body.previous_paid_gharpatti)+parseInt(body.current_paid_gharpatti))%></td>
						</tr>
						<tr>
							<td><b>२. पाणीपट्टी</b></td>
							<td><%= body.previous_paid_panipatti %></td>
							<td><%= body.current_paid_panipatti %></td>
							<td><%= (parseInt(malmatta.current_panipatti)+parseInt(malmatta.previous_panipatti))-(parseInt(body.previous_paid_panipatti)+parseInt(body.current_paid_panipatti))%></td>
						</tr>
						<tr>
							<td><b>३. दिवाबत्ती कर</b></td>
							<td><%= body.previous_paid_veej %></td>
							<td><%= body.current_paid_veej %></td>
							<td><%= (parseInt(malmatta.current_veej)+parseInt(malmatta.previous_veej))-(parseInt(body.previous_paid_veej)+parseInt(body.current_paid_veej))%></td>
						</tr>
						<tr>
							<td><b>४. आरोग्य कर</b></td>
							<td><%= body.previous_paid_aarogya %></td>
							<td><%= body.current_paid_aarogya %></td>
							<td><%= (parseInt(malmatta.current_aarogya)+parseInt(malmatta.previous_aarogya))-(parseInt(body.previous_paid_aarogya)+parseInt(body.current_paid_aarogya))%></td>
						</tr>
					</tbody>
				</table><br><br><br>
				<div class="row">
					<div class="align-left">दिनांक: <%= date %></div>
					<div class="align-right">सचिव / वसुली करणार्याची आद्द्याक्षरी व नाव</div>
				</div>
			</div>
		</div>
		<button class="button primary" onclick="printDiv('print')">Print</button>
        <script>
            function printDiv(divName) {
                 var printContents = document.getElementById(divName).innerHTML;
                 var originalContents = document.body.innerHTML;
                 document.body.innerHTML = printContents;
                 window.print();
                 document.body.innerHTML = originalContents;
            }
        </script>
	</body>
</html>